<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
    <span class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></span>
  </header>

  <div class="post-content" itemprop="articleBody">
    {% if post.description %}
      {{ post.description }}
    {% else %}
      {{ post.content | truncate: 256 }}
    {% endif %}
  </div>

  {% include post-sources.html %}
  {% include post-tags.html %}

</article>